flows.json
[{"id":"d1360849.25d078","type":"tab","label":"smart home assistant","disabled":false,"info":""},{"id":"45742a6.d0a4bd4","type":"ibmiot in","z":"d1360849.25d078","authentication":"apiKey","apiKey":"9fc3880c.70a598","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1001","applicationId":"","deviceType":"iotdevice","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":200,"y":540,"wires":[["68179ba8.d1e3b4"]]},{"id":"68179ba8.d1e3b4","type":"function","z":"d1360849.25d078","name":"","func":"global.set(\"temp\",msg.payload.temperature)\nglobal.set(\"humidity\",msg.payload.humidity)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":540,"wires":[["9f142f17.8e534"]]},{"id":"9f142f17.8e534","type":"debug","z":"d1360849.25d078","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":540,"wires":[]},{"id":"4f96180a.fbfbb8","type":"ui_text_input","z":"d1360849.25d078","name":"Enter text to send commands","label":"Enter text to send commands","tooltip":"","group":"b013ceee.d1bb8","order":12,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"topic","topicType":"msg","x":160,"y":620,"wires":[["cf8da28d.320e2"]]},{"id":"c31dfed3.23ec4","type":"ui_text","z":"d1360849.25d078","group":"b013ceee.d1bb8","order":13,"width":0,"height":0,"name":"voice input","label":"voice input","format":"{{msg.payload}}","layout":"row-spread","x":430,"y":700,"wires":[]},{"id":"574f21f1.a5a9a","type":"function","z":"d1360849.25d078","name":"","func":"msg.payload=msg.payload.output.generic[0].text\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":700,"wires":[["2eaf6b36.854ed4","859ca61d.868488"]]},{"id":"859ca61d.868488","type":"switch","z":"d1360849.25d078","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"temperature value","vt":"str"},{"t":"eq","v":"humidity value","vt":"str"},{"t":"eq","v":"light on","vt":"str"},{"t":"eq","v":"light off","vt":"str"},{"t":"eq","v":"fan on","vt":"str"},{"t":"eq","v":"fan off","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":7,"x":290,"y":920,"wires":[["fe21b94e.e1a1c8"],["f4c728eb.486c98"],["e286627d.4a5d2","377159e4.ef4d26"],["e286627d.4a5d2","377159e4.ef4d26"],["e286627d.4a5d2","377159e4.ef4d26"],["e286627d.4a5d2","377159e4.ef4d26"],["edd6c1c7.fbe3b"]]},{"id":"fe21b94e.e1a1c8","type":"function","z":"d1360849.25d078","name":"","func":"var t=global.get('temp')\nif(t==undefined)\n{\n    msg.payload=\"could not get temperature from device\"\n}\nelse\n{\n    msg.payload=\"Todays temperature is\" + t + \"degree celsius\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":820,"wires":[["a1733553.a1d218","46bdff28.163e3","edd6c1c7.fbe3b"]]},{"id":"2eaf6b36.854ed4","type":"function","z":"d1360849.25d078","name":"","func":"check=msg.payload.slice(0,4)\nif(check==\"time\")\n{\n    date=msg.payload.slice(5,15)\n    time=msg.payload.slice(16,21)\n    val=date+\" \"+time\n    global.set('val',val)\n    topic=msg.payload.slice(25,)\n    global.set('topic',topic)\n    msg.payload=\"reminder is set on \"+date+\" at \"+time+\" about \"+topic\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":680,"wires":[["a1733553.a1d218","46bdff28.163e3"]]},{"id":"f4c728eb.486c98","type":"function","z":"d1360849.25d078","name":"","func":"var h=global.get('humidity')\nif(h==undefined)\n{\n    msg.payload=\"could not get humidity from the device\"\n}\nelse\n{\n    msg.payload=\"todays humidity is\" + h + \"percentage\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":880,"wires":[["edd6c1c7.fbe3b","46bdff28.163e3","a1733553.a1d218"]]},{"id":"e286627d.4a5d2","type":"function","z":"d1360849.25d078","name":"","func":"var m=msg.payload\nmsg.payload={\"command\":m}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":940,"wires":[["c1cfb480.e330a8","1c45d1a2.7b88ce"]]},{"id":"377159e4.ef4d26","type":"function","z":"d1360849.25d078","name":"","func":"var c=msg.payload;\nif(c==\"light on\")\n{\n    msg.payload=\"Light is switched on\"\n}\nelse if(c==\"light off\")\n{\n    msg.payload=\"Light is switched off\"\n}\nelse if(c==\"fan on\")\n{\n    msg.payload=\"Fan is switched on\"\n}\nelse if(c==\"fan off\")\n{\n    msg.payload=\"Fan is switched off\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":1000,"wires":[["edd6c1c7.fbe3b","46bdff28.163e3"]]},{"id":"a1733553.a1d218","type":"debug","z":"d1360849.25d078","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":600,"wires":[]},{"id":"46bdff28.163e3","type":"ui_text","z":"d1360849.25d078","group":"b013ceee.d1bb8","order":14,"width":0,"height":0,"name":"status","label":"status","format":"{{msg.payload}}","layout":"row-spread","x":940,"y":740,"wires":[]},{"id":"5f7136a5.e28948","type":"ui_audio","z":"d1360849.25d078","name":"","group":"b013ceee.d1bb8","voice":"Google UK English Female","always":false,"x":950,"y":820,"wires":[]},{"id":"edd6c1c7.fbe3b","type":"watson-text-to-speech","z":"d1360849.25d078","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_LisaV2Voice","voicehidden":"en-US_LisaV2Voice","format":"audio/wav","password":"","apikey":"yFy0kfKIrgUyypwSPM_TY5wKAawmSe9PfWqbtQbrEXqa","payload-response":false,"service-endpoint":"https://api.eu-gb.text-to-speech.watson.cloud.ibm.com/instances/2abac04f-a9b6-4889-bd26-4324b478cd7e","x":880,"y":900,"wires":[["5f7136a5.e28948"]]},{"id":"c1cfb480.e330a8","type":"ibmiot out","z":"d1360849.25d078","authentication":"apiKey","apiKey":"9fc3880c.70a598","outputType":"cmd","deviceId":"1001","deviceType":"iotdevice","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":840,"y":960,"wires":[]},{"id":"9265eb5.d74b818","type":"inject","z":"d1360849.25d078","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":1080,"wires":[["4db8dc41.627c24"]]},{"id":"4db8dc41.627c24","type":"function","z":"d1360849.25d078","name":"","func":"var r=global.get('val')\nvar t=global.get('topic')\nvar d=new Date()\nvar utc=d.getTime() + (d.getTimezoneOffset() * 60000);\nvar offset=5.5;\nnewDate= new Date(utc+(3600000*offset));\nvar n=newDate.toISOString()\nvar date=n.slice(0,10);\nvar time=n.slice(11,16);\nc=date+\" \"+time\nif(r==c)\n{\n    msg.payload=\"now you have a reminder about\"+\" \"+t\n}\nelse\n{\n    msg.payload=\" \"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":1080,"wires":[["1c45d1a2.7b88ce","46bdff28.163e3","edd6c1c7.fbe3b"]]},{"id":"1c45d1a2.7b88ce","type":"debug","z":"d1360849.25d078","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":1080,"wires":[]},{"id":"fc338e4f.31bcd","type":"ui_microphone","z":"d1360849.25d078","name":"","group":"b013ceee.d1bb8","order":16,"width":0,"height":0,"maxLength":"2","maxRecogLength":5,"timeslice":0,"press":"click","mode":"audio","interimResults":false,"x":140,"y":800,"wires":[["7a52a157.3486"]]},{"id":"cf8da28d.320e2","type":"watson-conversation-v1","z":"d1360849.25d078","name":"","workspaceid":"80c84b92-07ee-40fb-ba2a-39ff13adfa37","multiuser":false,"context":false,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/879da109-651e-41fb-ac78-d7666279283f","timeout":"","optout-learning":false,"x":450,"y":620,"wires":[["574f21f1.a5a9a"]]},{"id":"7a52a157.3486","type":"watson-speech-to-text","z":"d1360849.25d078","name":"","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"t8oBX62wapTs1ZYsZhNij6hj7fEm8waRvolGlcxGcYTb","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"https://api.eu-gb.speech-to-text.watson.cloud.ibm.com/instances/5a2cfa9b-fa4b-4ee6-ad9a-d5776e8850e6","x":180,"y":700,"wires":[["cf8da28d.320e2","c31dfed3.23ec4"]]},{"id":"9fc3880c.70a598","type":"ibmiot","name":"iotdata","keepalive":"60","serverName":"g3y4kb.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"b013ceee.d1bb8","type":"ui_group","name":"data","tab":"f9f92b7e.bed7f8","order":1,"disp":true,"width":"6","collapse":false},{"id":"f9f92b7e.bed7f8","type":"ui_tab","name":"smart home assistant","icon":"dashboard","disabled":false,"hidden":false}]